@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
  body {
    @apply bg-[#731ba6]; 
  }
  
  a:link {
    color: red;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a.qwerty:link {
    color: white;
  }
  
  a.qwerty:visited {
    color: lightgrey;
  }
  
  a.qwerty:hover {
    color: grey;
  }
  
  a.qwerty:active {
    color: black;
  }
}

@layer utilities {
  .text-fluid-base {
    font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
  }
  
  .text-fluid-sm {
    font-size: clamp(0.75rem, 0.65rem + 0.4vw, 0.9rem);
  }
  
  .main-content {
    container-type: inline-size;
  }
}